{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container wrapper flex-grow-1">
        <div class="card mt-5">
            <div class="card-body p-5 bg-light">
                <h1 class="display-4">{% translate 'Привет от Хекслета!' %}</h1>
                <p class="lead pb-4 mb-5 border-bottom">{% translate 'Практические курсы по программированию' %}</p>
                <a href="https://ru.hexlet.io" class="btn btn-primary btn-lg">{% translate 'Узнать больше' %}</a>
            </div>
        </div>
    </div>
{% endblock %}