{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">
        <h5 class="mr-md-3 mb-0">{%  translate 'Менеджер задач' %}</h5>
        <nav class="my-md-0 mr-md-auto">
            <a href="#" class="p-2 text-dark my-0 mr-md-auto">{% translate 'Пользователи' %}</a>
        </nav>
        <nav class="my-2 my-md-0 mr-md-3">
            <a href="#" class="p-2 text-dark">{% translate 'Вход' %}</a>
            <a href="#" class="p-2 text-dark">{% translate 'Регистрация' %}</a>
        </nav>
    </div>
    <div class="container wrapper flex-grow-1">
        <div class="card mt-5">
            <div class="card-body p-5 bg-light">
                <h1 class="display-4">{% translate 'Привет от Хекслета!' %}</h1>
                <p class="lead pb-4 mb-5 border-bottom">{% translate 'Практические курсы по программированию' %}</p>
                <a href="https://ru.hexlet.io" class="btn btn-primary btn-lg">{% translate 'Узнать больше' %}</a>
            </div>
        </div>
    </div>
    <footer class="fixed-bottom">
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
        </div>
    </footer>
{% endblock %}