{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container wrapper flex-grow-1 mt-5 bg-light">
        <div class="col-12">
            <h1 class="my-4">{% translate 'Регистрация' %}</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                </p>
                {% endfor %}
                <button type="submit">{% translate 'Регистрация' %}</button>
            </form>
        </div>
    </div>
{% endblock %}