{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block content %}
    <h1 class="my-4">{% translate 'Задачи' %}</h1>
    <a class="text-decoration-none" href="{% url 'tasks:create' %}">{% translate 'Создать задачу' %}</a>
    <table class="bg-white mt-1 border table table-striped">
        <tr>
            <th class="border p-2">ID</th>
            <th class="border p-2">{% translate 'Имя' %}</th>
            <th class="border p-2">{% translate 'Статус' %}</th>
            <th class="border p-2">{% translate 'Автор' %}</th>
            <th class="border p-2">{% translate 'Исполнитель' %}</th>
            <th class="border p-2">{% translate 'Дата создания' %}</th>
            <th class="border p-2"></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td class="border p-2">{{ task.id }}</td>
            <td class="border p-2">{{ task.name }}</td>
            <td class="border p-2">{{ task.status }}</td>
            <td class="border p-2">{{ task.author }}</td>
            <td class="border p-2">{{ task.executor }}</td>
            <td class="border p-2">{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td class="border p-2">
                <a class="text-decoration-none" href="{% url 'tasks:update_task' task.id %}">{% translate 'Изменить' %}</a><br>
                <a class="text-decoration-none" href="{% url 'tasks:delete_task' task.id %}">{% translate 'Удалить' %}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}